.video__comments {
  width: 480px;
  margin: 0 auto;
  margin-top: 20px;
  ul {
    width: 482px;
    li {
      margin: 0 auto;
      i {
        margin-right: 10px;
      }
      .commentDelete {
        margin-left: 10px;
        cursor: pointer;
      }
      .commentDelete:hover {
        color: $red;
        transition-duration: 400ms;
      }
    }
  }

  .video__comment {
    padding: 10px;
    background-color: black;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
}

.comment_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ownerContainer {
  display: flex;
  align-items: center;
}

.owner__name {
  margin-left: 10px;
  margin-right: 10px;
  color: #808080;
}
