.video__comments {
  width: 480px;
  margin: 0 auto;
  margin-top: 20px;
  ul {
    width: 482px;
    li {
      margin: 0 auto;
      i {
        margin-right: 10px;
      }
      i:nth-child(3) {
        float: right;
      }
    }
  }

  .video__comment {
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
  }
}
