#videoContainer {
  width: 100%;
  position: relative;
  background-color: gray;
  video {
    width: 100%;
  }
  .videoControls {
    opacity: 100;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    width: 98%;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: absolute;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    .videoControls__progressBar {
      display: flex;
      align-items: center;
      #mute > i {
        margin-left: 10px;
      }
      #mute > input {
        width: 70%;
      }
    }
    .videoControls__progressBar > input {
      width: 90%;
    }
    .videoControls__buttons {
      display: flex;
    }
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin-left: 5px;
      }
      .videoControls__time {
        margin-left: 10px;
        font-size: 12px;
      }
    }
    .videoControls__volume {
      display: flex;
      margin-left: 10px;

      span {
        margin-left: 10px;
        i {
          font-size: 20px;
        }
      }
    }
  }
}

#videoMetadata {
  .title {
    font-size: 2em;
    margin-top: 10px;
  }
  div > div {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
