/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo {
  color: #cc0d00;
  font-size: 38px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header ul i {
  font-size: 16px;
}
header .header__btn {
  background-color: white;
  color: #021117;
  padding: 5px 10px;
  border-radius: 5px;
}
header .header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 50px;
}

.video-mixin .video-mixin__data {
  padding: 0px 15px;
}
.video-mixin .video-mixin__data .video-mixin__title {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}
.video-mixin .video-mixin__data .video-mixin__meta {
  margin-top: 5px;
  font-size: 12px;
}

.thumbnail {
  width: 100%;
  height: 140px;
  border-radius: 7px;
  background-position: center;
  background-size: cover;
  background-color: ivory;
}
.thumbnail .thumbnail_img {
  width: 100%;
  height: 100%;
}

.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
}
.auth-switch a {
  text-decoration: underline;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

form {
  max-width: 420px;
  margin: 0 auto;
}
form:not(.search__form) {
  padding: 30px;
  background-color: rgba(2, 17, 23, 0.7);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

input:not(input[type=range]):not([type=submit]) {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
}
input:not(input[type=range]):not([type=submit])::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type=submit] {
  border-radius: 5px;
  padding: 11px 20px;
  width: 100%;
  font-size: 16px;
  background-color: #cc0d00 !important;
  color: white !important;
  text-align: center !important;
  cursor: pointer !important;
  display: block;
  box-sizing: border-box;
  border: none;
}
input[type=submit]:focus {
  outline: none;
}
input[type=submit]:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.social-login {
  padding-top: 40px;
  text-align: center;
}
.social-login .social__btn--github {
  background-color: black;
}

.social__btn {
  border-radius: 5px;
  padding: 12px 20px;
  color: white;
  text-align: center !important;
  cursor: pointer;
  display: block;
  border: none;
}
.social__btn:focus {
  outline: none;
}
.social__btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

#videoContainer {
  width: 100%;
  position: relative;
}
#videoContainer video {
  width: 100%;
}
#videoContainer .videoControls {
  opacity: 100;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  width: 98%;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: absolute;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  left: 0;
  box-sizing: border-box;
}
#videoContainer .videoControls.showing {
  opacity: 1;
}
#videoContainer .videoControls .videoControls__range {
  display: flex;
  align-items: center;
}
#videoContainer .videoControls .videoControls__range input[type=range] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  height: 6px;
  background: transparent;
  cursor: pointer;
  background: #8e8e93;
  border-radius: 0;
  /* iOS */
}
#videoContainer .videoControls .videoControls__range input[type=range]:focus {
  outline: none;
}
#videoContainer .videoControls .videoControls__range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  background: #ff0000;
  box-shadow: -100vw 0 0 100vw #ff0000;
  border: 0.1px solid #ff0000;
  cursor: pointer;
}
#videoContainer .videoControls .videoControls__range #mute {
  display: flex;
  cursor: pointer;
}
#videoContainer .videoControls .videoControls__range #mute i {
  padding-right: 10px;
}
#videoContainer .videoControls .videoControls__range .videoControls__progressBar {
  display: flex;
  width: 100%;
  align-items: center;
}
#videoContainer .videoControls .videoControls__range .videoControls__volume {
  display: flex;
  align-items: center;
}
#videoContainer .videoControls .videoControls__range .videoControls__volume span {
  margin-left: 10px;
}
#videoContainer .videoControls .videoControls__range .videoControls__volume span i {
  font-size: 20px;
}
#videoContainer .videoControls .videoControls__buttons {
  display: flex;
}
#videoContainer .videoControls .videoControls__buttons .videoControls__play {
  margin-right: 10px;
}
#videoContainer .videoControls .videoControls__buttons .videoControls__play #play {
  display: block;
  width: 35px;
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
#videoContainer .videoControls .videoControls__buttons .videoControls__play #play > i {
  font-size: 17px;
}

#videoMetadata {
  padding-bottom: 30px;
}
#videoMetadata .title {
  font-size: 2em;
  border-bottom: 0.2px solid #303030;
  padding: 30px 0;
}
#videoMetadata div > div {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 0.2px solid #303030;
  color: gray;
}
#videoMetadata div > div > span > a {
  color: white;
  text-decoration: underline;
}

#hashtags {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

#fullScreen {
  cursor: pointer;
}

#commentForm {
  display: flex;
}
#commentForm :focus {
  outline: none !important;
  border-bottom: 0.1px solid white;
  transition-duration: 400ms;
}
#commentForm textarea {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: black;
  font-size: 14px;
  color: white;
  line-height: 14px;
  resize: none;
  border: none;
}
#commentForm button {
  border: none;
  width: 70px;
  height: 40px;
  margin-left: 1px;
  background-color: #383852;
  color: gray;
  cursor: pointer;
}
#commentForm button:hover {
  background-color: #ff0000;
  color: white;
  transition-duration: 400ms;
  border: none;
}

.search__form {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  align-items: center;
}
.search__form input {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
}
.search__form button {
  all: unset;
}
.search__form button {
  position: absolute;
  right: 15px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile__data img {
  margin-bottom: 10px;
}
.profile__data h3 {
  font-size: 18px;
}

.edit-profile__form label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
}
.edit-profile__password a {
  text-decoration: underline;
}

.upload__container {
  width: 100%;
}
.upload__container .upload__video {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload__container .upload__video video {
  max-width: 100%;
  margin-bottom: 10px;
}

.video__comments {
  width: 480px;
  margin: 0 auto;
  margin-top: 20px;
}
.video__comments ul {
  width: 482px;
}
.video__comments ul li {
  margin: 0 auto;
}
.video__comments ul li i {
  margin-right: 10px;
}
.video__comments ul li .commentDelete {
  margin-left: 10px;
  cursor: pointer;
}
.video__comments ul li .commentDelete:hover {
  color: #cc0d00;
  transition-duration: 400ms;
}
.video__comments .video__comment {
  padding: 10px;
  background-color: black;
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.comment_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comment_avatar i {
  font-size: 50px;
  color: #808080;
}

.ownerContainer {
  display: flex;
  align-items: center;
}

.owner__name {
  margin-left: 10px;
  margin-right: 10px;
  color: #808080;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #021117;
  color: white;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
}
.message.error {
  background-color: tomato;
  color: white;
}
